.login-container {
  width: 100vw;
  height: 100vh;
  background: url("assets/images/login.png");
  position: relative;
}

.login-container .login {
  width: 440px;
  height: 360px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-container .login-img {
  width: 200px;
  height: 60px;
  display: block;
  margin: 0 auto 20px;
}
